/* make background dark grey */
body {
  background-color: #333;
}

#open-cta button {
  background-color: transparent;
  border: none;
  z-index: 1;
}

#form-cta{
  display: flex;
  color: white;
  max-width: 100% !important;
}

#drop-area {
  width: 100%;
  height: 300px;
  border: 2px dashed #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

#drop-area:hover {
  background-color: #e9ecef;
}

#img-view {
 background-position: center;
 background-size: cover;
}

#img-view i {
  font-size: 100px;
  margin-bottom: 20px;
}

#img-view p {
  font-size: 18px;
  color: #6c757d;
}
