/* make background dark grey */
body {
  background-color: #333;
}

#open-cta button {
  background-color: transparent;
  border: none;
  z-index: 1;
}

#form-container{
  display: none;
  color: white;
}
